name: "Testing"


on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:

    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-18.04]
        python-version: [3.8]
        geomstats-backend : ['numpy']
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Build using Python ${{matrix.python-version}} and Backend ${{matrix.geomstats-backend}}
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}

      - name: install
        run:  |
          curl -sSL https://install.python-poetry.org | python3 -
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          export PATH="$HOME/.local/bin:$PATH"
          poetry install
          
      - name: run
        env:
          GEOMSTATS_BACKEND : ${{matrix.geomstats-backend}}
        run: |
          poetry run jupyter nbconvert --to notebook --execute */*.ipynb